<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="ion-toolbar">
      <ion-title>Account</ion-title>
      <span>Logout</span>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main-content">
    <div class="menu-box" *ngFor="let item of accountMenu">
      <ion-item lines="none" button>
        <ion-icon slot="start" [name]="item.icon" class="icon"></ion-icon>
        <ion-label>{{ item.label }}</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
    </div>
  </div>
</ion-content>
