<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="ion-toolbar">
      <div class="ion-toolbar-content">
        <ion-icon name="arrow-back" [routerLink]="['/home']"></ion-icon>
        <ion-title>Venue-details</ion-title>
      </div>
      <div class="wishlist">
        <ion-icon name="heart-outline"></ion-icon>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="check-availability">
    <p>Check for the Availability</p>
    <ion-icon name="calendar-outline"></ion-icon>
  </div>

  <div class="date-selector">
    <div class="date-item" *ngFor="let date of dates" [class.selected]="date === selectedDate"
      (click)="selectDate(date)">
      {{ date }}
    </div>
  </div>

  <div class="img-content">
    <img src="assets/images/party-hall1.jpeg" />
    <div class="ellipsis-content">
      <div class="img-content-section">
        <div class="like">
          <ion-icon name="heart-outline"></ion-icon>
        </div>
        <div class="share">
          <ion-icon name="share-social-outline"></ion-icon>
        </div>
      </div>

      <div class="ellipsis">
        <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      </div>
    </div>

    <div class="all-images">
      <ion-icon name="image-outline"></ion-icon>
      <p>All Images</p>
    </div>
  </div>

  <div class="rating-div">
    <p>Party Hall</p>
    <div class="star-rating">
      <ion-icon name="star-outline"></ion-icon>
      <span>5.4</span>
    </div>
  </div>

  <div class="price-review">
    <p class="price">₹ 300000 / Day</p>
    <p class="review">2.234 Reviews</p>
  </div>

  <div class="location-capacity">
    <div class="location">
      <p class="title">Location:</p>
      <p class="city">Chennai</p>
    </div>

    <div class="capacity">
      <p class="title">Capacity:</p>
      <p class="city">300 Max</p>
    </div>
  </div>

  <div class="facility">
    <p class="para">Facilities</p>

    <div class="facility-content">
      <div class="facility-content-section">
        <ion-icon name="checkmark-circle"></ion-icon>
        <p>Parking Availability</p>
      </div>

      <div class="facility-content-section">
        <ion-icon name="checkmark-circle"></ion-icon>
        <p>Outdoor Space</p>
      </div>
    </div>
  </div>

  <div class="description">
    <p class="title">Description</p>
    <p class="para">
      A paragraph is a self-contained unit of writing that typically consists of
      several sentences focused on a single idea or topic. It's a fundamental
      building block of longer written pieces, helping to organize and present
      information in a clear, logical way.
    </p>
  </div>

  <div class="price-information">
    <p class="title">Price Information</p>

    <div class="card-grid">
      <div class="card" *ngFor="let item of cards">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ item.title}}</ion-card-title>
            <ion-card-subtitle>{{ item.perDay}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{ item.price }}
          </ion-card-content>


        </ion-card>
      </div>
    </div>
  </div>

  <div class="additional-services">
    <p class="para">Additional Services</p>

    <div class="additional-services-content">
      <ion-item>
        <div class="items">
          <div class="img">
            <img src="assets/images/party-hall1.jpeg" />
            <div class="content">
              <p class="para">Catering Services</p>
              <p class="professionals">50 Professionals</p>
              <p class="veg-nonVeg">Veg: 25</p>
            </div>
          </div>
          <ion-button>View</ion-button>
        </div>
      </ion-item>

      <ion-item>
        <div class="items">
          <div class="img">
            <img src="assets/images/party-hall1.jpeg" />
            <div class="content">
              <p class="para">PhotoGrapher</p>
              <p class="professionals">50 Professionals</p>
            </div>
          </div>
          <ion-button>View</ion-button>
        </div>
      </ion-item>
    </div>
  </div>
</ion-content>