:root {
    ion-tab-bar {
    --color: #444;
    --color-selected: var(--ion-color-primary); 
   }
    // --ion-color-primary: #0F0E47;  
    --ion-color-primary: #ba1818;  
    --ion-color-secondary: #8686AC;  
    --ion-color-tertiary: #505081;  
    --ion-color-medium: #272757;  
    --ion-color-white: white;
  }