<ion-content [fullscreen]="true" class="ion-padding">

  <!-- Logo -->
  <div class="logo-container">
<img src="https://media.istockphoto.com/id/1420172793/vector/connection-logo-business-global-technology-and-network.jpg?s=612x612&w=0&k=20&c=PSDmuJrOSV9k_GxXtvu8jKHLijvsCT9P9iTGXysPPY4=" />
  </div>

  <!--Segments  -->
  <ion-segment [(ngModel)]="segmentValue" mode="ios">
    <ion-segment-button value="login">
      <ion-label>Login</ion-label>
    </ion-segment-button>
    <ion-segment-button value="register">
      <ion-label>Register</ion-label>
    </ion-segment-button>
  </ion-segment>


  <!-- LOGIN FORM -->
  <ng-container *ngIf="segmentValue === 'login'">
    <ion-item>
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-input placeholder="Username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-input [type]="showPassword ? 'text' : 'password'" placeholder="Password"></ion-input>
      <ion-icon [name]="showPassword ? 'eye' : 'eye-off'" slot="end" (click)="togglePasswordVisibility()"></ion-icon>
    </ion-item>

    <ion-button expand="block" class="register-btn" (click)="login()">Login</ion-button>
  </ng-container>

  <!-- REGISTER FORM -->
  <ng-container *ngIf="segmentValue === 'register'">
    <div class="radio-row">
      <label class="radio-option">
        <ion-radio slot="start" value="user" [(ngModel)]="userType"></ion-radio>
        <span>User</span>
      </label>
    
      <label class="radio-option">
        <ion-radio slot="start" value="provider" [(ngModel)]="userType"></ion-radio>
        <span>Provider</span>
      </label>
    </div>
    <ion-item>
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-input placeholder="Enter Full Name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-input placeholder="E-mail Address"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-input [type]="showPassword ? 'text' : 'password'" placeholder="Password"></ion-input>
      <ion-icon [name]="showPassword ? 'eye' : 'eye-off'" slot="end" (click)="togglePasswordVisibility()"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-input [type]="confirmShowPassword ? 'text' : 'password'" placeholder="Confirm Password"></ion-input>
      <ion-icon [name]="confirmShowPassword ? 'eye' : 'eye-off'" slot="end" (click)="confirmTogglePasswordVisibility()"></ion-icon>
    </ion-item>

    <ion-button expand="block" class="register-btn">Register</ion-button>
  </ng-container>

  <div class="forgot-pass" *ngIf="segmentValue === 'login'">
    <span>Forgot Password?</span>
  </div>

  <div class="social-login">
    <div class="divider"></div>
    <span>Or</span>
    <div class="divider"></div>
  </div>

  <div class="social-icons">
    <img src="assets/images/google.png" class="icon-google" />
    <img src="assets/images/facebook.jpg" class="icon-facebook" />
  </div>

</ion-content>
