<ion-content class="authContent">
  <h2>Event Hub</h2>
  <ion-grid>
    <h5>Set Password</h5>
    <form>
      <ion-item>
        <ion-label position="stacked">New Password</ion-label>
        <ion-input placeholder="Enter New Password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Confirm Password</ion-label>
        <ion-input placeholder="Enter Confirm Password"></ion-input>
      </ion-item>
    </form>
    <ion-button (click)="submit()">Submit</ion-button>
  </ion-grid>